
<!DOCTYPE html>
<html>
    <body>
                        <div class="user-links">
                            <%= link_to "ユーザーページ"%>
                            <%= link_to "カロリー計算" %>
                            <%= link_to "料理提案" %>
                            <%= link_to "日記を書く", memory_index_path %>
                        </div>

    


    </body>

</html>
